.centeralign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.leftalign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;

}

.profilephoto{
    max-width: 200px;
    max-height: 275px;
}



